/* Font-faces */

@font-face {
    font-family: nunito;
    src: url(../font/nunito-regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: nunito;
    src: url(../font/nunito-bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: nunito;
    src: url(../font/nunito-light.ttf);
    font-weight: lighter;
}

@font-face {
    font-family: nunito;
    src: url(../font/nunito-italic.ttf);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: nunito;
    src: url(../font/nunito-bold-italic.ttf);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: nunito;
    src: url(../font/nunito-light-italic.ttf);
    font-weight: lighter;
    font-style: italic;
}

/* General */

h1, h2, h3, h4, h5, h6 {
    font-family: nunito;
    font-weight: bold;
}

p, b, strong, em, span, abbr, a, small, sub, sup, mark, del, ins, label, textarea, input {
    font-family: nunito;
}

h1 {
    font-size: 1.75em;
    width: 250px;
    padding: 110px 0 10px 0;
    letter-spacing: 7px;
    margin: 0 auto 20px auto;
    color: #f7931e;
    border-bottom: 3px solid #f7931e;
}

h2 {
    font-size: 1.75em;
    margin: 10px 0;
}

h3 {
    font-size: 1.5em;
    line-height: 1.5em;
}

/* Clases y Ides */