/* Font-faces */

@font-face {
    font-family: nunito;
    src: url(../font/nunito-regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: nunito;
    src: url(../font/nunito-bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: nunito;
    src: url(../font/nunito-light.ttf);
    font-weight: lighter;
}

@font-face {
    font-family: nunito;
    src: url(../font/nunito-italic.ttf);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: nunito;
    src: url(../font/nunito-light-italic.ttf);
    font-weight: lighter;
    font-style: italic;
}

/* General */

h1, h2, h3, h4, h5, h6, p, b, strong, em, span, abbr, a, small, sub, sup, mark, del, ins, label, textarea, input {
    font-family: nunito;
}

h1, h2, h3, h4, h5, h6, strong, b {
    font-weight: bold;
}

em {
    font-style: italic;
}

em, b, strong {
    color: hsl(32, 93%, 80%);
}

p {
    color: white;
    padding: 10px;
    text-align: justify;
}

h1 {
    font-size: 1.6em;
    width: 80%;
    padding: 110px 0 10px 0;
    letter-spacing: 4px;
    margin: 0 auto 20px auto;
    color: #f3a535;
    border-bottom: 3px solid #f3a535;
}

h2 {
    font-size: 1.7em;
    margin: 10px 0;
    color: white;
}

h3 {
    font-size: 1.25em;
    line-height: 1.5em;
    margin-bottom: 0.5em;
    color: white;
}

h4 {
    font-size: 1em;
    color: white;
}

#nosotros h4 {
    color: #f3a535;
}

#nosotros p {
    font-size: 0.9em;
}