body {
    background-image: url(../img/bg.png);
}

header {
    -ms-grid-columns: 1fr 0 1fr 0 1fr 0 1fr 0 1fr 0 1fr 0 1fr 0 1fr;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(transparent));
    background-image: -webkit-linear-gradient(#000000, transparent);
    background-image: -o-linear-gradient(#000000, transparent);
    background-image: linear-gradient(#000000, transparent);
}

header.scrolldown_header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#00000080), color-stop(80%, transparent));
    background-image: -webkit-linear-gradient(#00000080 0%, transparent 80%);
    background-image: -o-linear-gradient(#00000080 0%, transparent 80%);
    background-image: linear-gradient(#00000080 0%, transparent 80%);
}

section {
    padding: 110px 10%;
}

#colapsable_nav {
    display: none;
}

#visible_nav {
    display: -ms-grid;
    display: grid;
}

nav>a, nav>div>a {
    font-size: 1.25em;
}

#inicio_textbox {
    height: 300px;
    max-width: 400px;
    left: 90%;
}

#inicio_textbox h2 {
    font-size: 2.2em;
}

#inicio_textbox h3 {
    font-size: 1.75em;
}

#servicios {
    -ms-grid-columns: 1fr 150px 1fr 150px 1fr 150px 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 100px 150px;
    margin-bottom: 100px;
}

#servicios h1 {
    -ms-grid-column-span: 4;
    grid-column: 4 span;
}

#servicios p {
    display: none;
}

#servicios i {
    -webkit-transform: rotateZ(0deg);
    -ms-transform: rotate(0deg);
    transform: rotateZ(0deg)
}

#servicios article {
    height: 400px;
    -ms-grid-column-span: 2;
    grid-column: 2 span;
}

#servicios article div {
    width: 80%;
}

#servicios article:nth-last-child(1) {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 2;
    grid-column-end: 4;
}

#proyectos {
    -ms-grid-columns: 1fr 100px 1fr 100px 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10%;
    padding: 110px 20%;
}

#proyectos h1 {
    padding: 0 150px;
    -ms-grid-column-span: 3;
    grid-column: 3 span;
}

#proyectos article img, #proyectos article p {
    width: 100%;
}

#proyectos article h3 {
    font-size: 2em;
}

#proyectos article p {
    font-size: 1em;
    line-height: 1.25em;
}

#nosotros_box {
    width: 80%;
    margin: 100px auto 0 auto;
}

#nosotros_text {
    padding: 20px;
}

select, input, textarea {
    width: 60%;
}

#RRSS {
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5%;
    margin-left: 2%;
    padding: 100px 5%;
}

#RRSS span {
    grid-gap: 10px;
    font-size: 1em;
    -ms-grid-columns: 0.1fr 10px 0.9fr;
    grid-template-columns: 0.1fr 0.9fr;
}

footer {
    -ms-grid-columns: 1fr 800px 1fr;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px 50px;
    grid-gap: 800px;
    margin-top: 100px;
}

footer img {
    width: 30%;
}

footer span {
    -ms-grid-columns: 0.4fr 5px 0.6fr;
    grid-template-columns: 0.4fr 0.6fr;
    grid-gap: 5px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 50px;
}

footer span img {
    width: 80%;
}